body {
    font: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #ffffff;
    padding: 15px 20px;
    color: rgb(164, 16, 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header ul li {
    margin-left: 20px;
}

.header ul li a {
    color: rgb(164, 16, 16);
    text-decoration: none;
    font-size: 16px;
}

.konten-produk {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.konten-produk h1 {
    text-align: center;
    margin-bottom: 40px;
    color: rgb(164, 16, 16);
}

.Produk {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.produk {
    background-color: #c18888;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 31%;
    overflow: hidden;
}

.produk img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.produk .list-produk {
    padding: 15px;
}

.produk .list-produk h2 {
    text-align: center;
    font-size: 20px;
    margin: 0 0 10px;
    color: black;
}

.produk .list-produk p {
    font-size: 14px;
    margin-bottom: 15px;
    color: black;
}

.produk .list-produk .keterangan {
    justify-content: space-between;
    font-size: 14px;
    color: black;
    margin-bottom: 15px;
}

.produk .list-produk .read-more {
    display: inline-block;
    padding: 10px 15px;
    background-color: #5f3636;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

